
/* Purple Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #8e24aa;
  --primary-hover: #9c27b0;
  --primary-focus: rgba(142, 36, 170, 0.25);
  --primary-inverse: #FFF;
}



header {
    margin: 100px 0px;
}

article {
    border-radius: 10px;
    padding:0px;
}

article .content {
    padding:10px 10px;
}

a{
    text-decoration: none;
}

article .cover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 250px;
    min-height: 200px;
}

article .cover img{
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}

.profile {
    margin-top: 50px;
}

.avatar{
    width: 148px;
    height: 148px;
    border-radius: 50%;
}

.avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover !important;
}

.links a{
    text-decoration: none !important;
    color: #949494 !important;
}

