


{% if item.data %}
  <a class="secondary" href="{{ item.data.url }}">
    {{ item.data.title }}
  </a>
{% else %}
    <details>
        <summary>{{ item.slug }}</summary>
        <ul>
        {% asyncEach item in item.children %}
        <li>
            {% include "templates/menu_item.njk" %}
        </li>
        {% endeach %}
        </ul>
    </details>
{% endif %}


